@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.main {
    color: white;
    background-color: lightblue;
    font-family: 'orbitron', sans-serif;
    font-size: 48px;
}

.text {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body {
    background-image: url('./images/windows_vista_37.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* kotak utama */
.container{
    width: 900px;
    height: 650px;

    background: rgba(0,0,0,0.7);

    border-radius: 35px;

    border: 2px solid rgba(255,255,255,0.2);

    box-shadow:
    0 0 25px rgba(0,0,0,0.8),
    inset 0 0 15px rgba(255,255,255,0.1);

    overflow:hidden;
}

/* header */
.header{
    height:80px;
    font-family: 'orbitron', sans-serif;
    background: linear-gradient(
        to bottom,
        #4a4a4a,
        #111
    );

    color:white;

    display:flex;
    align-items:center;

    padding-left:30px;

    font-size:36px;
}

/* isi */
.main{
    display:flex;
    height:calc(100% - 80px);
}

/* sidebar kiri */
.sidebar{
    width:180px;

    background: rgba(20,20,20,0.8);
    margin-right: 20px;
  
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;

    padding:15px;
}

/* tombol menu */
.menu{
    background: linear-gradient(
        to bottom,
        #555,
        #222
    );

    color:white;

    padding:10px;

    margin-bottom:10px;

    border-radius:8px;

    cursor:pointer;

    border:1px solid #666;
}

.menu:hover{
    background: linear-gradient(
        to bottom,
        #66cc66,
        #228822
    );
}

/* content kanan */
.content{
    flex:1;

    padding:20px;

    color:white;

    overflow:auto;
}

/* banner */
.banner{
    width:100%;
    height:220px;

    background-image:url("/images/Quantum_Fluctuations.gif");
    background-size:cover;
    background-position:center;

    border-radius:15px;

    margin-bottom:20px;
}

.my-images {
    width: 370px;
}

.title {
    color: black;
    font-family: 'orbitron', sans-serif;
    font-size: 48px;
}

.page-link a {
    margin-right: 20px;
    color: blueviolet;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.epstein a {
    margin-right: 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.youtube a {
     margin-right: 20px;
    color: red;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.tumblr a {
     margin-right: 20px;
    color: darkblue;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.toyhouse a {
     margin-right: 20px;
    color: black;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.strawpage a {
     margin-right: 20px;
    color: darkred;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.x a {
     margin-right: 20px;
    color: lightblue;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.ng a {
     margin-right: 20px;
    color: goldenrod;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.blog a {
    margin-right: 20px;
    color: darkblue;
    background-color: lightblue;
    font-family: 'orbitron', sans-serif;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

