@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


.main {
    color: white;
    background-color: lightblue;
    font-family: 'orbitron', sans-serif;
    font-size: 48px;
}

.text {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body {
    background-image: url('./images/windows_vista_37.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.my-images {
    width: 370px;
}

.title {
    color: black;
    font-family: 'orbitron', sans-serif;
    font-size: 48px;
}

.page-link a {
    margin-right: 20px;
    color: blueviolet;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.epstein a {
    margin-right: 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.youtube a {
     margin-right: 20px;
    color: red;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.tumblr a {
     margin-right: 20px;
    color: darkblue;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.toyhouse a {
     margin-right: 20px;
    color: black;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.strawpage a {
     margin-right: 20px;
    color: darkred;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

