@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.about {
    color: white;
    background-color: lightblue;
    font-family: 'orbitron', sans-serif;
    font-size: 48px;
}

button {
    width: 120px;
    height: 120px;

    background: #222;
    color: white;

    border: 3px solid #666;
    border-radius: 14px;

    font-size: 28px;
    font-weight: bold;

    box-shadow:
      inset -2px -2px 4px #000,
      inset 2px 2px 4px #555;

    user-select: none;
}

button:active {
transform: scale(0.95);
background: #444;
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url('/images/windows_vista_37.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}



.about {
    font-size: 50px;
}

.text {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
}

.title {
    color: black;
    font-family: 'orbitron', sans-serif;
    font-size: 48px;
}

.page-link a {
    margin-right: 20px;
    color: blueviolet;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
}

.epstein a {
    margin-right: 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
}

.youtube {
     margin-right: 20px;
    color: red;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
}

.tumblr {
     margin-right: 20px;
    color: darkblue;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
}

.toyhouse {
     margin-right: 20px;
    color: darkslategrey;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
}

.stawpage {
     margin-right: 20px;
    color: lightcoral;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
}
