@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.about {
    color: white;
    background-color: lightblue;
    font-family: 'orbitron', sans-serif;
    font-size: 48px;
}

button {
    width: 120px;
    height: 120px;

    background: #222;
    color: white;

    border: 3px solid #666;
    border-radius: 14px;

    font-size: 28px;
    font-weight: bold;

    box-shadow:
      inset -2px -2px 4px #000,
      inset 2px 2px 4px #555;

    user-select: none;
}

button:active {
transform: scale(0.95);
background: #444;
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../images/windows_vista_37.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}



.about {
    font-size: 50px;
}

.text {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
}

.title {
    color: black;
    font-family: 'orbitron', sans-serif;
    font-size: 48px;
}

.page-link a {
    margin-right: 20px;
    color: blueviolet;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
}

.epstein a {
    margin-right: 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: 'orbitron', sans-serif;
    font-size: 15px;
}


.small img {
    width: 200px;
}

.big img {
    width: 500px;
}

.banner img {
    width: 600px;
}

.portrait img {
    width: 400px
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.border img {
  border: 5px solid #333;

}